@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
body{
    font-family: 'Montserrat', 
    sans-serif;
}
:root{
    --primary-colour: #7c3aed;
    --dark-colour: #6b7280;
}
/* container */
.container{
    padding-left: 1rem;
    padding-right: 1rem;
}
.center-container{
    max-width: 600px;
    margin: auto;
}
/* links */
.links{
    text-decoration: none;
    padding: 0.5rem 1rem;

}
.primery-link{
    background-color: var(--primary-colour);
    border-radius: 0.5rem;
    color: white;
}
.secondry-link{
    color: var(--primary-colour);
    border-radius: 0.5rem;
    border: 1px solid var(--primary-colour);
}
hr{
    margin: 1rem 0rem;
}
 .non-bullet{
    list-style: none;
 }
.list-item-inline{
    display: inline;
    padding: 0rem 0.5rem;

}
/* nagivation */
.navigation{
    background-color: var(--primary-colour);
    padding: 1rem ;
    color: white;
    border-bottom-left-radius: 1rem;
    
}
.navigation .links{
    color: white;
}
.navigation .brand {
    color: white;
    font-weight: bold;
    font-size: 1rem ;
    
}
.navigation .nav-pills{
    text-align: right;
}
.navigation .links{
    color: white;

}
.navigation .link-active {
    font-weight: bold;
}

/* heading */
.hero{
    padding: 2rem;
    text-align: center;
}
.hero .hero-img{
    max-width: 350px;
    display: block;
    margin: auto;
}
.hero .hero-heading{
    padding-top: 1rem;
    color: var(--dark-colour)
}
.hero .hero-heading .heading-inverted{
    color: var(--primary-colour);
    
}
/* section */

