@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
body{
    font-family: 'Montserrat', 
    sans-serif;
}
:root{
    --primary-colour: #7c3aed
}
/* container */
.container{
    padding-left: 1rem;
    padding-right: 1rem;
}
.center-container{
    max-width: 600px;
    margin: auto;
}
.links{
    text-decoration: none;
    padding: 0.5rem 1rem;

}
.primery-link{
    background-color: var(--primary-colour);
    border-radius: 0.5rem;
    color: white;
}
.secondry-link{
    color: var(--primary-colour);
    border-radius: 0.5rem;
    border: 1px solid var(--primary-colour);
}
 
